BODY {
	SCROLLBAR-FACE-COLOR: #dcdcdc; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #b0aea7; SCROLLBAR-3DLIGHT-COLOR: #dcdcdc; SCROLLBAR-ARROW-COLOR: #464646; SCROLLBAR-TRACK-COLOR: #efede7; SCROLLBAR-DARKSHADOW-COLOR: #dcdcdc; SCROLLBAR-BASE-COLOR: #edeae4
}
A {
	FONT-SIZE: 12px; COLOR: #262d31; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #0c2055; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.A1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.A1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00ccff; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.ti1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #596369; FONT-FAMILY: "宋体"
}
.ti2 {
	FONT-SIZE: 12px; COLOR: #262d31; FONT-FAMILY: "宋体"
}
.ti3 {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #8b0b0b; FONT-FAMILY: "宋体"
}
.ti4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #325c9e; FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
DIV {
	FONT-SIZE: 12px
}
FORM {
	FONT-SIZE: 12px
}
OPTION {
	FONT-SIZE: 12px
}
P {
	FONT-SIZE: 12px
}
BR {
	FONT-SIZE: 12px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; FONT-FAMILY: 宋体; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
TEXTAREA {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff
}
SELECT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff
}
.tableBorder {
	BORDER-RIGHT: #1e3957 1px solid; BORDER-TOP: #1e3957 1px solid; BORDER-LEFT: #1e3957 1px solid; BORDER-BOTTOM: #1e3957 1px solid; BACKGROUND-COLOR: #ffffff
}
.tdColor {
	FONT-WEIGHT: bold; BACKGROUND: #4673b8; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.tdRow {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #f0f3f4; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.fil_menu {
	FONT-WEIGHT: bold; FILTER: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=1)
}
.bor {
	BORDER-RIGHT: #1e3957 1px solid; BORDER-TOP: #1e3957 1px solid; BORDER-LEFT: #1e3957 1px solid; BORDER-BOTTOM: #1e3957 1px solid
}
